{% extends 'learning_logs/base.html' %}


{% block page_header %}
  <h2>Register a new account</h2>
{% endblock page_header %}

{% block content %}
  {% if form.errors.username or form.errors.password1 or form.errors.password2 %}
    <div class="alert alert-danger" role="alert">
      <div>{{form.errors.username}}</div>
      <div>{{form.errors.password1}}</div>
      <div>{{form.errors.password2}}</div>
    </div>
  {% endif %}
  <form action="{% url 'users:register' %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="username">
      <label for="id_username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="password">
      <label for="id_password1">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="password">
      <label for="id_password2">Confirm password</label>
    </div>
    <button name="submit" class="btn btn-primary">Register</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}">
  </form>
{% endblock content %}